[2016-03-08 06:31] gravity00 opened #1 "Simplify Header extraction"
Simplify the extraction of SOAP Headers from a given SOAP Envelope.

[2016-03-08 06:38] gravity00 opened #2 "Extraction of SOAP Fault Detail"
Make it easier to extract the detail of a given SOAP Fault and Fault Exception as a concrete type.

[2016-03-08 15:27] gravity00 commented on #2
Added extensions on commit 088ac865d9234b30fbb6066c53ec53ddabf04f2f

[2016-03-08 15:27] #2 closed

[2016-03-08 15:28] gravity00 commented on #1
Added extensions on commit 088ac865d9234b30fbb6066c53ec53ddabf04f2f

[2016-03-08 15:28] #1 closed

[2016-05-23 10:10] gravity00 opened #4 "SOAP Security - Timestamps not in UTC"
The SOAP Security Timestamp dates are not being passed in UTC using the method `KnownHeader.Oasis.Security.UsernameTokenAndPasswordText(username, password, mustUnderstand)`

XML snippet:
[code]

[2016-05-23 10:15] gravity00 opened #5 "SOAP Security - Timestamp - Property Created serialized as an element named Timestamp"
The property `Timestamp.Created` is being serialized as an element named _Timestamp_ instead of _Created_.

Example:

[code]

[2016-05-23 10:21] #4 closed

[2016-05-23 10:21] #5 closed

[2016-05-27 11:03] gravity00 opened #6 "SoapEnvelopeDeserializationException - If response content is empty no exception is thrown"
When the server returns a response with an empty content, shouldn't a SoapEnvelopeDeserializationException be raised?

Example:

[code]

[2016-05-27 11:17] gravity00 commented on #6
Fixed with commit 6dccc6843c28e5fef944411ec5ae581a0c8f9613

[2016-05-27 11:17] #6 closed

[2016-05-27 14:47] gravity00 opened #7 "UsernameTokenAndPasswordTextSoapHeader - Invalid namespaces"
When using the header `UsernameTokenAndPasswordTextSoapHeader` some namespaces not correct after serialization (at least Timestamp and contained elements).

Example:
[code]

[2016-05-27 14:54] gravity00 commented on #7
Closed with commit c1b82ac24f9d6b716a2f307b308196715e8dd7cb

[2016-05-27 14:54] #7 closed

[2016-06-14 23:33] gravity00 opened #8 "Update package for new Monikers"
Make the NuGet package compatible with the new moniker targets. Examples:

* netcoreapp
* netstandard

[2016-07-13 14:15] gravity00 opened #9 "Factory interfaces for Soap Clients"
Add a factory interface (and a possible implementation) for Soap Client instances. This is specially useful when using Inversion of Control libraries, to control client life-cycle.

[2016-07-13 19:25] gravity00 opened #10 "Improve handler logic"
Using functions as handlers have limitations. As examples, deciding the order or paring raw request handler with a raw response handler.

Suggestion: create a `ISoapClientHandler` exposing all the possible operations and a base interface where only specific methods can be overridden.

[2016-07-14 10:15] gravity00 opened #11 "ConfigureAwait(false)"
Since this isn't a library with requirements to be used in specific threads from the pool, the method `ConfigureAwait(false)` should be used.

[2016-07-14 10:18] gravity00 opened #12 "Milestone - Version 2.0.0"
Issue marking the release of Version 2.0.0 when everything is considered stable.

[2016-07-18 15:15] filipedias opened #13 "Support SOAP 1.2 requests"
The handler "UsingRequestRawHandler" should support requests on SOAP 1.2 as the following example:

"
	.UsingRequestRawHandler((c, d) =>
	{
		d.Request.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/soap+xml;charset=UTF-8;action=\"http://domain.com/Service/Request\"");
	})
"

Regards,
Filipe Dias

[2016-07-19 16:05] gravity00 commented on #13
Presently the client only supports SOAP standard 1.1. The version 2.0 will also support SOAP standard 1.2.
A work around would be passing an HTTP Client in the constructor that could construct the `Content-Type` values based on the existing `SOAPAction` header.

[2016-07-19 16:57] #8 closed

[2016-07-19 17:28] #11 closed

[2016-07-19 17:57] #9 closed

[2016-07-20 09:28] gravity00 opened #14 "Global options"
Provide a way to set global configurations to `SoapClient` that will be used as default. This options can be overridden for a given instance.

[2016-07-20 13:36] #10 closed

[2016-07-21 10:24] gravity00 opened #15 "Support async handlers"
Executing async operations in handlers may be a requirement, the framework could support async handler methods.

[2016-07-21 14:53] #15 closed

[2016-07-21 21:19] gravity00 opened #16 "XML Serialization providers"
To be able to use custom XML serializers, the framework should provide a way to swap the current (de)serialization logic.

[2016-07-27 22:39] #16 closed

[2016-07-28 18:25] #14 closed

[2016-07-29 10:23] filipedias opened #17 "Install-Package SimpleSOAPClient in old Projects - Error"
![image](https://cloud.githubusercontent.com/assets/1070431/17245026/75e17a10-557c-11e6-93a4-6b321cae4e34.png)

The package 'SimpleSOAPClient' tried to add a framework reference to 'System.Runtime' which was not found in the GAC.

This bug can be solved with following code in project.json:
"
.....
".NETPortable,Version=v4.5,Profile=Profile111": {
      "buildOptions": {
        "define": [ "PORTAB

[2016-07-29 16:21] gravity00 commented on #17
As indicated, that is a known bug from NuGet (https://github.com/NuGet/Home/issues/3103) that should be fixed soon. But assigning the `{ "type": "build" }` doesn't make any harm and I'll include it in the next release.

In the meantime, you can manually add the following entry to `packages.config` and the package restore should work:

`<package id="SimpleSOAPClient" version="2.0.0-rc03" targetFram

[2016-08-02 03:23] thangtx opened #18 "Update readme"
This sample code not work with RC3, please update.

Thanks

[2016-08-02 11:00] #18 closed

[2016-08-02 11:03] gravity00 opened #19 "Missing documentation/wiki"
Missing decent documentation or wiki to make life easier to developers.

[2016-08-02 11:05] gravity00 commented on #18
Thanks for the reminder!
I forgot I made some breaking changes to the handlers from RC1 to RC2.

Because there is a missing wiki, I created an issue to remind me about that  (#19).

[2016-08-03 16:12] thangtx opened #20 "Can't install nuget on .net fx 4.5"
Hi graty00
When I install from nuget, it throw this error:
PM> Install-Package SimpleSOAPClient -Pre
Attempting to gather dependencies information for package 'SimpleSOAPClient.2.0.0-rc03' with respect to project 'TranzwareAPI', targeting '.NETFramework,Version=v4.5'
Attempting to resolve dependencies for package 'SimpleSOAPClient.2.0.0-rc03' with DependencyBehavior 'Lowest'
Resolving actions to i

[2016-08-03 16:33] #20 closed

[2016-08-03 20:47] gravity00 commented on #20
This is related with issue #17
Next release will have the dependencies marked as build and this should stop from happening.

[2016-08-03 21:14] gravity00 opened #21 "When using async handlers the sync method is not invoked"
When extending an `ISoapHandler` or one of the extending helper classes (`DelegatingSoapHandler` or `SoapHandler`), when creating code for both async and sync methods, only the asyncs are invoked.

Example:

[code]

[2016-08-03 22:05] gravity00 commented on #19
Wiki pages have been added (https://github.com/gravity00/SimpleSOAPClient/wiki) with a tutorial page.
New pages with details per functionality will be added in the next few days.

[2016-08-03 22:05] #19 closed

[2016-08-03 22:18] #21 closed

[2016-08-09 13:16] NoCodeMonkey opened #22 "System.NullReferenceException"
Hi,

I keep getting a NullReferenceException exception when I use the DelegatingSoapHandler.

System.NullReferenceException: Object reference not set to an instance of an object.
   at SimpleSOAPClient.Handlers.DelegatingSoapHandler.<OnSoapEnvelopeResponseAsync>d__43.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAw

[2016-08-09 16:07] thangtx opened #23 "Create Request with raw Soap Xml string"
Hi
Please add method for Create Request with raw Soap Xml string.
Thanks

[2016-08-09 18:57] gravity00 commented on #23
You wan't to be able to send a string instead of creating a SOAP Envelope object, correct?

I'll analise that option, but for now, with RC03 you have at least two possibilities (being the first one my choice since it will validate your xml even before sending):

- Use the default `ISoapEnvelopeSerializationProvider` (or create one of your own) to deserialize your string into a SOAP Envelope and se

[2016-08-09 19:07] gravity00 commented on #22
Based on the code from that release, it looks everything is ok and my testings can't replicate your behavior. Can you check if any of the properties you are using inside lambdas are not null, specially `args.Response.Content`? The server may be returning an HTTP 5xx without a body and that property may be null.

What I wan't to check is if the code is failing before invoking your actions or is are

[2016-08-09 20:51] #13 closed

[2016-08-09 21:17] gravity00 commented on #13
Since the client now has to support different SOAP Envelope versions, the recommended way to create envelopes or headers is via the `SoapMessage` class. Example:

[code]

Due to this requirements, model objects are now located in `SimpleSOAPClient.Models.V1Dot1.*` or `SimpleSOAPClient.Models.V1Dot2.*` namespaces and handlers now have methods for versions 1.1 and 1.2. Example:

[code]

Documentatio

[2016-08-10 00:04] NoCodeMonkey commented on #22
Hi,

You are right, it looks like there is an await null somewhere. For reference I am using version 2.0.0-rc03 and the .net 4.52 framework. Something as simple as the following still throws the exception:
`
OnHttpRequestAsyncAction = async (c, args, cnt) =>
{
	Logger.Trace("Request");
},
OnHttpResponseAsyncAction = async (c, args, cnt) =>
{
	Logger.Trace("Response");
)`

Cheers

[2016-08-10 00:50] gravity00 commented on #22
Hi,

I'm still failing to replicate the problem. I created an old project with 4.5.2 framework, included the NuGet 1.0.0-rc03 and only adding a `DelegatingSoapHandler` with only those actions runs normally as expected.
Can you supply an example code about how you are using the client?

[2016-08-10 04:35] NoCodeMonkey commented on #22
Hi,

Found it. It is pointing to the delegate and not the invoke. See DelegatingSoapHandler OnSoapEnvelopeResponseAsync method.

if (OnSoapEnvelopeResponseAsyncAction == null)
	OnSoapEnvelopeResponseAction(client, arguments);
else
	await OnSoapEnvelopeResponseAsyncAction(client, arguments, ct);`

if (OnSoapEnvelopeResponseAsyncAction == null)
	OnSoapEnvelopeResponse(client, arguments);
else
	await

[2016-08-10 12:35] gravity00 commented on #22
Hi,

Great finding @NoCodeMonkey! The next release will have that fixed since I changed the logic to make sure both async and sync logic is invoked for a given handler (see #21). Until I release RC04 you'll have to assign that handler with an action that does nothing to prevent the null exception.

I'll close this issue when RC04 is released. Thanks.

[2016-08-10 15:23] thangtx commented on #23
Ok, thank you :)

[2016-08-10 22:52] #23 closed

[2016-09-01 15:47] MerrittMelker opened #24 "Why Does SoapEnveloper.Header<T> Require The element name?"
Why not just use the attributes attached to the class? It seems redundant.

[code]
I kept looking for:

`var header = responseEnvelope.Header<MeowResponseHeader >();`

but had to write it myself...

[2016-09-01 16:10] MerrittMelker commented on #24
(using .net core - was getting weirdness with just GetType())

[code]

[2016-09-01 18:23] gravity00 commented on #24
Great suggestion! You are completely right, never thought about that. I'll include it in the next release.

[2016-09-01 18:36] gravity00 opened #25 "Create a client from WSDL"
Make it easier to generate SOAP entities and clients from a given WSDL using a tool, T4 template or any other option. Ideally, the tool should be as cross platform as possible.

[2016-09-01 18:45] gravity00 opened #26 "Bind a client to a SOAP address"
The client is currently stateless since the `Send` method receives the URL, action and envelope. Since the client is usually used to communicate with a single SOAP server, always sending the URL is redundant.

Possible solution: create a wrapper that always uses the same URL

[code]

[2016-11-01 06:26] udkadam opened #27 "How to use SimpleSOAPClient to consume Web Service (asmx) from .NET Core Web API?"
We are currently working over WEBAPI in ASP.NET core. Our requirement is to consume .NET based Webservice (asmx) from Web API.

I have web service method which has two input parameters.

GetEmployees(string name,string department)

How should I move ahead ?

I tried your example code but its giving me some issues.

Please help.

[2016-11-01 10:20] gravity00 commented on #27
Hi @udkadam,

Can you give me a sample code?
Because, for the moment, I don't have a way to automatically generate all the requests based on a WSDL, the easiest approach is to use a client like SoapUI and be sure you are creating the envelope correctly.

[2016-12-05 09:24] pthevenon opened #28 "Unable to call services defined with soapAction="""
Hi,

A (poorly designed) service i need to integrate defines it's soapAction to "".

It seems valid wsdl, but SoapHandlerArguments constructor throws an argumenNullException if action is string.IsNullOrWhiteSpace().

Replacing check with if (action == null) seems to work fine ...

[2016-12-05 13:08] gravity00 commented on #28
Hi @pthevenon

I'm in the middle of a major re-engineering for the final version 2.0.0 that should give developers a more easier control over the HttpSoapClient, more easily solving this cases due to poor services implementations.

In the mean time, my recommendation, is to pass some dummy string as the parameter and use the `OnHttpRequestAction` handler to override the HTTP Header "SOAPAction" be

[2016-12-05 13:09] gravity00 commented on #27
Closing due to missing feedback.

[2016-12-05 13:09] #27 closed

[2016-12-05 13:30] pthevenon commented on #28
Thanks for your help, i got it to work.

[2016-12-05 13:30] #28 closed

[2017-03-15 19:46] Noahan commented on #22
Hello, when version RC04 will be release? I have that same problem :(

[2017-03-23 23:21] NikkyAI commented on #25
any progress or test tool available for this ?
I am trying to use a pretty complex API and have only access to the wsdl files

[2017-05-26 09:45] Noahan opened #29 "New version"
Hi, in nuget currently is 2.0.0 RC3 version in DEBUG Mode?
I use your solution in my uwp application and i need Release mode. When you plan to sent new version of SimpleSOAPClient (Release Mode) to nuget repository?

[2017-05-26 13:36] gravity00 commented on #29
@Noahan why do you say it is in DEBUG mode? Are you talking about a final version?

[2017-05-26 13:52] Noahan commented on #29
I downloaded "SimpleSOAPClient" using nuget, and i have problem with publishing application because SimpleSOAPClient.dll file was build using DEBUG MODE.

Error from windows store audit "The binary SimpleSOAPClient.dll is built in debug mode."

![image](https://cloud.githubusercontent.com/assets/19434299/26497189/ccc0d704-422a-11e7-8d7b-68ebf6ea9a73.png)

For build my uwp application i using Relea

[2017-05-29 18:03] gravity00 commented on #29
That's strange, it should have been compiled in release mode, but I'll give it a look.

I'm making some major refactoring changes, once the delay in the final release, but I can make a sooner release just to solve this problem and some minor bugs I found.

[2017-07-06 15:52] nicolabeghin opened #30 "Pre-emptive basic HTTP authentication"
Hi everyone
does anyone know how to get pre-emptive Basic HTTP authentication working with SimpleSOAPClient?
If it's not supported explicitly, it should be enough to wrangle the HTTP headers, adding "Authorization: base64encode(user:password)".

Having access to the underlying HttpClient, it should be a matter of

    HttpClient client = new HttpClient(handler);
    var byteArray = Encoding.ASCII.

[2017-07-06 17:03] nicolabeghin commented on #30
Found it, closing the issue!

    string clearTextCredentials = string.Format("{0}:{1}", SAP_USERNAME, SAP_PASSWORD);
    client.HttpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Basic", Convert.ToBase64String(Encoding.UTF8.GetBytes(clearTextCredentials)));

[2017-07-06 17:04] #30 closed, assigned to nobody

[2017-07-06 17:15] gravity00 commented on #30
You could also add an `ISoapHandler` to the client and before each request, using the `OnHttpRequest` event, assign the header to the `HttpRequestMessage` (property `OnHttpRequestArguments.Request`).

[2017-07-07 08:04] nicolabeghin opened #31 "Usage in a Xamarin.Forms projects"
Hi everyone
I'm trying to use this library in a Xamarin.Forms project.
Specifically, I tried:

**PCL project**, referenced from Xamarin.Android + Xamarin.UWP project => strange invocation issues arises
![image 4](https://user-images.githubusercontent.com/2743637/27948836-8d86e37a-62fb-11e7-9d9f-5e1717b0a633.png)

**Xamarin.Android** project only (unable to install nuget)
![image 3](https://user-im

[2017-07-07 08:31] nicolabeghin commented on #31
I tried with stable version too, same error in Xamarin.Android project.

![image 6](https://user-images.githubusercontent.com/2743637/27949827-774c25c6-62ff-11e7-8368-288db7a744d7.png)

[2017-07-07 09:58] gravity00 commented on #31
Do you have the most recent NuGet version installed (https://dist.nuget.org/index.html)?

[2017-07-07 10:03] nicolabeghin commented on #31
I moved to Visual Studio 2017, so it should have the latest nuget available. I'm no C# expert (I have strong Java background), maybe I'm missing something!

[2017-07-09 14:31] #31 closed, assigned to gravity00

[2017-07-09 14:36] nicolabeghin commented on #31
thanks a lot @gravity00 !! I'll check it out tomorrow, as yesterday I imported the whole source code and compiled from my project itself, without using nuget. Is the updated nuget package already available?

[2017-07-09 14:37] gravity00 commented on #31
I just released [version 2.0.0-rc04](https://www.nuget.org/packages/SimpleSOAPClient/2.0.0-rc04), that should have this problem fixed. Can you give it a test?

[2017-07-09 14:37] gravity00 commented on #31
@nicolabeghin should be indexed by NuGet in a few minutes.

[2017-07-09 14:39] gravity00 commented on #29
@Noahan I just released [version 2.0.0-rc04](https://www.nuget.org/packages/SimpleSOAPClient/2.0.0-rc04) that is compiled in release mode as expected. Can you give it a try?

[2017-07-09 14:39] #29 closed, assigned to gravity00

[2017-07-09 14:39] gravity00 commented on #22
@NoCodeMonkey  [Version 2.0.0-rc04](https://www.nuget.org/packages/SimpleSOAPClient/2.0.0-rc04) has been released and includes this fix.

[2017-07-09 14:39] #22 closed

[2017-07-10 08:33] nicolabeghin commented on #31
@gravity00 I confirm issue is fixed with latest release 2.0.0-rc04

[2017-07-10 09:40] nicolabeghin opened #32 "Unable to run even the sample"
Hi everyone
I would like to understand if I'm the only one experiencing this issue, preventing me from using the library at all. At some point I even copied the sample code, and it still doesn't work

[code]

Below the stacktrace
[code]

Please note I'm using SimpleSoapClient in a PCL project.
![image 4](https://user-images.githubusercontent.com/2743637/28011897-41cd3072-6564-11e7-8c54-7281da31891

[2017-07-10 09:53] gravity00 commented on #32
@nicolabeghin can you show me that `TrackingHeader` and `CreateUserRequest` classes? Also, is that all the stacktrace with the message?

[2017-07-10 09:57] nicolabeghin commented on #32
hi @gravity00 thanks for your fast reply!
Here's the classes
[code]

Also more stacktrace (I'm debugging the code).
[code]

![image 5](https://user-images.githubusercontent.com/2743637/28012660-d2b559c8-6566-11e7-8d80-b9efa364721c.png)

[2017-07-10 10:03] gravity00 commented on #32
@nicolabeghin the classes look ok. It seems there is an inner exception. Can you send me the `e.ToString()` value? This should be enough for me to get a better understanding.

[2017-07-10 10:10] nicolabeghin commented on #32
Here it is

`[0:] SimpleSOAPClient.Exceptions.SoapEnvelopeSerializationException: Failed to serialize the SOAP Envelope ---> System.InvalidOperationException: There was an error generating the XML document. ---> System.InvalidOperationException: XmlAnyElementAttribute can only be applied to members of type XmlElement, XmlElement[] or XmlNode[]. The target object is System.Xml.Linq.XElement`

[2017-07-10 10:32] gravity00 commented on #32
@nicolabeghin I made a fast test with you classes and I could get the expected XML based on your example.

[code]

If you do the following, does it also fail?

[code]

[2017-07-10 10:48] nicolabeghin commented on #32
I confirm, the exception happens exactly where expected (as shown by the stacktrace too). any idea on why this happens? Maybe because it's a PCL?

[2017-07-10 10:54] nicolabeghin commented on #32
btw could you share the list of your references from the original project or a PCL that's working for you? I can't open the VS2015 project, so I copied the sources to a brand new PCL.

![image 8](https://user-images.githubusercontent.com/2743637/28015089-d4267fa0-656e-11e7-89d4-00811a4db0cf.png)

thanks
nicola

[2017-07-10 11:12] gravity00 commented on #32
@nicolabeghin yes, it looks like the problem is some limitation for XML serialization support in PCL projects (my test was in a .NET 4.6 console, just to see the behavior). I'll need to make some tests in a PCL project, but it looks like I'll certainly need to create conditional code compilation depending of framework.

If I look at [`XmlAnyElement`](https://msdn.microsoft.com/en-us/library/system

[2017-07-10 13:15] nicolabeghin commented on #32
hi @gravity00 I tried creating a PCL based on 4.6 but for some reason VS2017 created it for .NET 4.5. At the same time it doesn't let me remove any platform target, even after removing all nuget packages. it's becoming a nightmare :-/

[2017-07-10 13:30] gravity00 commented on #32
@nicolabeghin I've used this library in Xamarin Android and iOS applications without a problem, but never on Windows Phones, so never detected this problem sooner.

I'm able to do some testings now, let me look into it.

[2017-07-10 13:43] nicolabeghin commented on #32
thanks @gravity00, really appreciate. I'm trying to move the whole thing out of the PCL and into the Android project, as I don't see any other way around.

[2017-07-10 14:11] gravity00 commented on #32
@nicolabeghin I was trying to create a Xamarin Forms application, but my current computer doesn't have anything installed. I'll have to wait until I get home. In the meantime, have you tried a Shared Project instead of a PCL? Unless you want to reuse your library for other applications, this may be enough for your case.

I have tried to create some PCL library and then test it, but these libraries

[2017-07-10 14:22] nicolabeghin commented on #32
thanks @gravity00 but it doesn't work even in the Android project. I removed all PCL and shared projects, same issue and exception.

![image 10](https://user-images.githubusercontent.com/2743637/28022493-a6074ea2-658b-11e7-8336-9e1584f07f34.png)

[code]

[2017-07-10 15:02] gravity00 commented on #32
@nicolabeghin this is definitely a bug, I'll look into it as soon as I get home. In the mean time I believe I can create a work around. Because it is a serialization problem, I may be able to create a custom `ISoapEnvelopeSerializationProvider` that will work in a PCL project. Just let me make some tests and I'll give you a sample.

The idea would be to receive the `SoapEnvelope` or XML string and

[2017-07-10 15:06] nicolabeghin commented on #32
@gravity00 you would be my hero! I'm near depression to get this thing sorted out.. :-D

[2017-07-10 16:22] gravity00 commented on #32
@nicolabeghin ok, I believe I have something that should fix your problem, at least for now. Create the following custom `ISoapEnvelopeSerializationProvider` and assign it to your client. Internally it uses classes with `XmlElement` instances for the body and headers.

[code]

Test code:

[code]

[2017-07-10 16:38] nicolabeghin commented on #32
Thanks A LOT @gravity00.
The strangest thing is happening: no XMLElement type is found when importing your code.
![image](https://user-images.githubusercontent.com/2743637/28028792-fa3d5d06-659d-11e7-9cee-54f286353550.png)

even if `packages.config` says it's installed

[code]

[2017-07-10 16:45] nicolabeghin commented on #32
If I understand correctly [from official Microsoft docs](https://msdn.microsoft.com/en-us/library/system.xml.serialization.xmlanyelementattribute.aspx#Anchor_6): in a PCL/UWP/cross-platform project it should be ok to use `XElement `in place of `XmlElement`
![image](https://user-images.githubusercontent.com/2743637/28029271-c4933e44-659f-11e7-94a4-daa7f0a2dc71.png)

[2017-07-10 16:52] gravity00 commented on #32
@nicolabeghin the problem is that you are referencing Mono, by adding support to Android and iOS. These frameworks runs in an older version of .NET, which leads to this problem.

I just created a new PCL project, with just the default references, and I could reference the `XmlElement` from the namespace `System.Xml.Serialization`.

[code]

![image](https://user-images.githubusercontent.com/3291285

[2017-07-10 17:02] nicolabeghin commented on #32
2 questions:

1. are you then able to use such PCL from a Xamarin.Android project? I get runtime errors.
2. did you try using the explicit type `System.Xml.XmlElement` and not the `[XmlElement]` attribute? I can use the `[XmlElement]` but not the type, therefore the issue with the new `PclSoapEnvelopeSerializationProvider`

![image](https://user-images.githubusercontent.com/2743637/28031714-79f2a9

[2017-07-11 08:30] gravity00 commented on #32
@nicolabeghin my example was wrong, sorry. From my findings, `XmlElement` is not available in PCL but in your Xamarin Android project you have it. My suggestion is to create the custom `ISoapEnvelopeSerializationProvider` there and then use it in the PCL code using DI or when your code used the PCL, it replaces the default one. Can you give it a try?

[2017-07-11 10:53] nicolabeghin commented on #32
@gravity00 , YOU'RE THE MAN!!!! it works now! than you so much.
To make things clear for anyone facing the same issue:
- Shared Project containing the provided custom `PclSoapEnvelopeSerializationProvider` + networking code (in order to keep it cetral and avoid to duplicate for each platform)
- Xamarin.Android project referencing `System.Xml`, `System.Xml.Linq`, `System.Xml.Serialization`

![image

[2017-07-11 11:36] gravity00 commented on #32
@nicolabeghin you are welcome. Now I'll have to try to include this fix inside the library, but it may not be possible.

About including empty elements in the XML, I believe there is no central way to do that (if there is, the `XmlWriterSettings` I used to indent the code should lead you to some solution) but if you enable the property `IsNullable` in the `XmlElementAttribute` I think it will incl

[2017-08-11 09:11] stepurich opened #33 "The methods used in the sample are absent"
Hello,
I can’t run [the sample](https://github.com/gravity00/SimpleSOAPClient#usage-version-200-rc01) in any way. The methods used in it are not found in the source code.

I work around these problems but I still haven’t been able to assign my header for the envelope.

What am I doing wrong?

I'm trying to use the SimpleSoapClient in a .NETCoreApp 1.1 project

[2017-08-11 10:52] gravity00 commented on #33
Hey there,

Those methods are extensions. Have you included the helpers namespace?
[code]

[2017-08-11 12:12] stepurich commented on #33
Thanks a lot for the answer. I do not know why I could not find these extensions myself and VS did not prompt me.

[2017-08-11 12:19] stepurich commented on #33
I'm wrong, VS prompts. It was my fault only.

[2017-08-11 13:22] gravity00 commented on #33
All right. Done then :)

[2017-08-11 13:22] #33 closed, assigned to gravity00

[2017-09-08 20:05] neooleg opened #34 "Does the lib support cookie?"
Hi,

thanks for making SimpleSOAPClient.

SOAP request which rely on cookie doesn't work. How to make it work?

[2017-09-08 20:14] #34 closed, assigned to nobody

[2017-09-08 22:55] gravity00 commented on #34
Hi, thanks for the feedback.

I see you closed the issue, but just to write a fast response, you can add the cookie header on each request to the HttpMessageRequest before sending.

[2018-01-16 23:16] szogun1987 opened #35 "EnvelopeHelpers.Body skips Namespace information"
If I there is a class
[code]
and then I I will execute
[code]
sent message would look like this
[code]
but it should look like this

[code]
It is caused by using EmptyXmlSerializerNamespaces  in XmlHelpers

[2018-01-17 00:51] szogun1987 opened #36 "Please consider contribution in mine extension to your project"
I have created [extension's skeleton](https://github.com/szogun1987/SimpleSOAPClient.BinarySecurityToken) that adds BinarySecurityToken authorization to your library. Please consider contribution.

[2018-01-17 17:44] gravity00 commented on #36
@szogun1987 I'll give it a look, thanks!

[2018-02-27 21:43] tunurgitr commented on #35
This one is pretty critical for me, so if there's anything I can do to help, let me know.

[2018-02-27 21:53] szogun1987 commented on #35
Hi @tunurgitr
As a workaround you can copy [mine implementation of ToXElement method](https://github.com/szogun1987/profil-zaufany-dotnet-core/blob/master/src/ProfilZaufany/Helpers/XmlHelpers.cs) you can call Body method and pass result of mine implementation to it.

[2018-02-27 21:56] gravity00 commented on #35
@tunurgitr @tunurgitr sorry guys, it has been some busy weeks, but I'll give it a big look today, and will release a fix soon. Thanks for the reminder!

[2018-02-28 19:04] gravity00 commented on #35
@szogun1987 @tunurgitr after some testings I realized the problem wasn't the `Body` method but with the serialization provider himself. Some time ago I made some refactoring to the serializer and introduced the problem. The fastest solution is to include the envelope namespace into the serialization provider, like this:

[code]
The `SoapClient` constructor can also receive it's own settings instea

[2018-04-07 20:54] szogun1987 opened #37 "Cannot publish Console app as executable if it depends on SimpleSoapClient"
If I try to run
```dotnet publish --configuration Release --self-contained --runtime win-x64```
Lot of errors similar to:
```Mine.Internal.Library.csproj : error NU1605:  Mine.Internal.Library -> ProfilZaufany 1.0.3-alpha -> SimpleSOAPClient.BinarySecurityToken 1.0.2-alpha -> SimpleSOAPClient 2.0.0-rc04 -> System.Xml.XmlSerializer 4.0.11 -> System.Xml.ReaderWriter 4.0.11 -> System.IO.FileSystem 4.

[2018-04-07 22:44] szogun1987 commented on #37
I was able to get following error also
[code]

[2018-04-07 23:44] szogun1987 commented on #37
Unfortunately I cannot reproduce it with sample aside project, but I found out that if I rebuild SimpleSOAPClient manually and used build assembly instead of version from Nuget it works. Can you Rebuild and publish new version on Nuget?

[2018-04-08 23:30] gravity00 commented on #37
Let me give it a try to see were the problem may be

[2018-04-09 05:20] szogun1987 commented on #37
There is a chance that adding netstandard as target platform would help. Library I used was built this way.

[2018-04-09 09:34] gravity00 commented on #37
@szogun1987  The library is referencing .NET Standard 1.1 (and others). It shouldn't have any problem being referenced by a .NET Standard 2.0 project.
Just created a VS 2017 project, with a console (NET Core App 2.0) referencing a lib (.NET Standard 2.0), which is referencing both `SimpleSOAPClient` and `SimpleSOAPClient.BinarySecurityToken` and it successfully compiled as a self contained console

[2018-04-09 10:08] szogun1987 commented on #37
When I tried to create aside project that references same chain of projects I was able to publish it also. I will try to find something in my project. If I copied dll from package manually It worked also.

[2018-04-10 09:33] szogun1987 commented on #37
SimpleSOAPClient is somehow conflicted with FluentValidation. Simplest csproj files where issue is reproducible looks like this:
[code]

[2018-04-10 11:19] gravity00 commented on #37
@szogun1987 Like the errors says, it is detecting a downgrade is some of the referenced packages. Both `SimpleSOAPClient` and `FluentValidation` are directly referencing the library NuGets instead of the aggregation `NETStandard.Library`. When I started this library that wasn't the norm yet (as an example, VS2017 now automatically references that dependency) and that's the reason for the direct re

[2018-04-10 19:31] szogun1987 commented on #37
Great it is working 👍  mark this issue as solved. I'm waiting for next release

[2018-04-10 21:31] #37 closed, assigned to gravity00

[2018-05-17 18:10] #12 closed

[2018-05-22 13:54] ertemmstein opened #39 "Cannot Debug Code with sample Usage"
Hello ,

When i try to Debug with sample Usage on main page it gives an error:
_" SoapClient' does not contain a definition for 'OnSerializeRemoveXmlDeclaration' and no extension method 'OnSerializeRemoveXmlDeclaration' accepting a first argument of type 'SoapClient' could be found"_

What did i miss? The project is  .Net Core 2.0 based

[2018-05-22 14:28] #39 closed, assigned to gravity00

[2018-05-22 14:29] gravity00 commented on #39
Hey,

You are correct. I made some breaking changes between release candidates and forgot to update the documentation. Just updated using version `2.0.0`.

[2018-06-29 15:28] fartwhif opened #41 "Example uses Task.CompletedTask which is a .NET 4.6 property"
The documentation needs to be updated to reflect that the example uses a property that is not included in .NET 4.5.

https://msdn.microsoft.com/en-us/library/system.threading.tasks.task.completedtask(v=vs.110).aspx

I had to change my test project from using .NET 4.5 to .NET 4.6 to get the example to compile.

[2018-06-29 15:43] #41 closed, assigned to gravity00

[2018-06-29 15:47] #32 closed, assigned to gravity00

[2018-08-17 15:14] iby-dev commented on #35
I definitely ran into this issue the code sample above definitely helped.

This package is a good alternative for netcore and traditional wcf usage.

Looking forward to seeing any updates in this space.

[2018-08-17 22:31] gravity00 commented on #35
@iby-dev version 2.1.0 now also [supports data contracts](https://github.com/gravity00/SimpleSOAPClient/pull/38), does the problem still persists if you use them?

I'm now working in a major release that I hope to simplify even more this library usage and removing also this bug (I still find it strange to only happen in very simple entities).

[2018-08-20 09:07] iby-dev commented on #35
Hi, it did for but then I used the code you provided and in it all started working. I will share a complete code sample once i have it all working together.

[2018-09-14 15:29] #36 closed, assigned to nobody

[2018-11-14 22:50] MikelThief opened #42 "OASIS WS Header"
Hello, I would like to contribute by adding support for WS Security with UserNameToken, Password Digest and NONCE. Which branch should i choose as a base?

[2018-11-16 09:47] gravity00 commented on #42
Hi @MikelThief

Thanks for the future contribution.
Since I'm analyzing some breaking changes for v3, I recommend using the branch **Release-v2.x**.

[2018-11-17 12:32] MikelThief commented on #42
Thanks for information :)

[2018-11-21 14:24] jebbench opened #43 "Support MTOM attachments"
I need support to receiving MTOM attachments from a service I'm calling; I'm going to look at submitting a PR for this.

Any advice on where to start implementing this? My current thinking is to add an `Attachments` property to the `SoapEnvelope` and to intercept multipart responses in `SoapClient.SendAsync`; extract the attachments and add them to the envelop and then continue processing the SOAP

[2018-11-22 11:00] gravity00 commented on #43
Hi @jebbench,

I've never used MTOM so I can't give you a good input right now, but from a fast analysis, it's seems to be tied to the communications protocol, not SOAP by itself, so I'm very reluctant to add support in the `SoapEnvelope`.

Let me dig deeper into this so I can give better input but if you need to support this fast, my best recommendation is to use the `OnHttpRequestAsyncAction` an

[2018-11-22 11:46] jebbench commented on #43
I've started having a play with this; you're right that it uses the http protocol to transmit the attachments rather than placing them in the SOAP envelope payload itself but I'd argue that the attachements are part of the SOAP message.

https://www.w3.org/TR/soap12-mtom/ give a good overview of MTOM.

I could use the `OnHttpXXX` handlers to at least process multipart request/responses but how wou

[2019-01-18 11:05] etosson opened #45 "SoapEnvelopeDeserializationException: The response content is empty"
Hi,

I keep getting a
{SimpleSOAPClient.Exceptions.SoapEnvelopeDeserializationException: The response content is empty.
   at SimpleSOAPClient.SoapClient.SendAsync(String url, String action, SoapEnvelope requestEnvelope, CancellationToken ct)
   at TestWCFBinding.Controllers.ValuesController.Get()}

![image](https://user-images.githubusercontent.com/11943772/51383095-8fb31c80-1b29-11e9-810b-2057b3

[2019-01-18 17:22] gravity00 commented on #45
Hi @etosson

Looking at your error message it seems nothing is being returned from the server.
Can you provide some request and response log using Fiddler os something similar?
You can also use the SimpleSOAPClient HTTP interceptors to trace and debug your requests:

[code]

[2019-01-19 12:40] gravity00 commented on #45
Now that I look better, it seems you are also passing the address as the action parameter. That should be the problem.

[2019-01-20 10:32] etosson commented on #45
Thanks João for the quick reply. I changed the action name, but still, gives me the same exception.
The response of the WCF operation is just "true" value (just for testing).

![image](https://user-images.githubusercontent.com/11943772/51437941-683d8a80-1cb6-11e9-85a7-285b57c29d65.png)

I think the connection between client and server couldn't be instantiated. do you advise any binding configurati

[2019-01-20 10:36] etosson commented on #45
This is the operation:
![image](https://user-images.githubusercontent.com/11943772/51438066-39c0af00-1cb8-11e9-8345-a5beb366d232.png)

& the binding:
![image](https://user-images.githubusercontent.com/11943772/51438082-696fb700-1cb8-11e9-8ccc-e8f24b080f0f.png)

[2019-01-21 10:45] gravity00 commented on #45
Looking at those WCF settings, it seems you are using a secure binding, but from the sample code you are invoking an HTTP endpoint.
Can you inspect the requests and responses using Fiddler an post that information here?

[2019-01-23 12:09] etosson commented on #45
Ok, Mr. João, so how I invoke this WCF service (IsAlive) using this type of binding (TransportWithMessageCredential)? this is what I need actually. which .net core fails with this type of binding.

Thanks so much for your support.

[2019-01-23 18:50] gravity00 commented on #45
For this case, I'm assuming the example in the readme should suffice. Change the protocol to https instead of http, and include the SOAP header for username and password either by adding on every request or just for this envelope.

Here's the simplified version:

[code]

[2019-02-13 14:49] skynode commented on #42
Hey @MikelThief, are you still working on this feature?

[2019-02-15 18:35] MikelThief commented on #42
@skynode indeed. I have completed the classes that allowed me to perform a handshake with this type of WS-Security protected webservice. I had no time to integrate it into this project. I was put into another case straight after finishing it... I can share those classes with you. I will try to find time to make a pull request as this issue patiently hangs on my github dashboard ;)

[2019-02-24 09:05] #45 closed, assigned to nobody

[2019-02-27 15:23] ToltingColtAcres opened #46 "Soap message structure"
I am porting an old .net framework app to .net core. This old app uses fedex web services (soap interface) to retrieve tracking information.

Fedex expects a message with the following structure:

&lt;TrackRequest xmlns="http://fedex.com/ws/track/v10"&gt;
 &lt;WebAuthenticationDetail&gt;
  &lt;ParentCredential&gt;
   &lt;Key&gt;MY KEY &lt;/Key&gt;
[...]
 &lt;ProcessingOptions&gt;INCLUDE_DETAILED_S

[2019-02-27 21:13] gravity00 commented on #46
Hi @ToltingColtAcres not saying this is the cleanest option, but I believe this should work for you (can't give a testing right now):

If you look at `SoapEnvelope.Header.Headers` it is a collection of `XElement` instances and the envelope is serialized as one. I believe if you create manually (or using your own serializer) and ensuring the _TrackRequest_ element has a `XName` without a prefix, th

[2019-02-28 12:24] ToltingColtAcres commented on #46
Thanks for the help. I was able to circumvent the problem with the following code. This changed the soap envelope and eliminated the q1: prefix. Using this code I am able to communicate and get a reply.

Thanks for your work on this library. I was dreading rewriting all the old code generated by .net 3.5 to communicate with Fedex's back-end soap service. They haven't changed their development envi

[2019-02-28 13:58] gravity00 commented on #46
Thanks @ToltingColtAcres! This library emerged from a similar problem while integrating with some legacy HTTP SOAP services. The simpler request pipeline while giving full control of the envelope is typically very useful if you only want to integrate some HTTP SOAP endpoint.

If you any other question, fell free to ask, closing the issue now.

[2019-02-28 13:58] #46 closed, assigned to nobody

[2019-04-08 13:29] andersmandersen opened #47 "Support for .net core 2.2"
Hi,

Are there anyways to use this module for .net core 2.2? Can I just download the source code and compile it to 2.2 myself?

[2019-04-08 14:31] gravity00 commented on #47
Hi @andersmandersen

The [NuGet](https://www.nuget.org/packages/SimpleSOAPClient/) does support .NET Standard 2.0, so it's compatible with .NET Core 2.2. Are you facing any problem including it in your solution?

[2019-04-08 15:29] andersmandersen commented on #47
Hi,

Sorry. It wasn't a problem with your package but my visual studio, that for some reason didn't detch any .net core version.

[2019-04-08 15:29] #47 closed, assigned to nobody

[2019-07-26 15:18] DatenThielt opened #48 "Issue with using multiple Namespaces"
Good Afternoon, Hopefully you can help.

I have the below XML, as you can see it has 2 namespaces,  I need to get Heartbeat and doCallBackend to include the ns name space,  But I cannot figure out how to do so ,  I cannot just set the name space of HeartBeat as the service I am consuming does not support it.

My XML
[code]
required valid XML
[code]

Any help would be greatly appreciated!

[2019-07-26 16:25] gravity00 commented on #48
Hi @DatenThielt  can you show me your class definitions?

[2019-07-26 16:29] DatenThielt commented on #48
Hi Gravity, Sure thing,

This is the call I am making,

[code]

And this is my class definition
[code]

[2019-07-26 16:47] gravity00 commented on #48
You did not define the namespace in you `HeartBeatRequest` so the XML serializer assumes that no namespace should be used. Try this:

[code]

[2019-07-26 17:48] DatenThielt commented on #48
Hi Gravity,  I did try that but what ends up happening is I then get a separate namespace in the body called p1 see below, rather than it using the namespace ns above

[code]

Thanks again!

[2019-07-29 10:23] gravity00 commented on #48
@DatenThielt I understand, but still your XML is correct, since both the elements Heartbeat and doCallBackend are in the namespace http://www.brightstar.com/services/2017.

Does the server refuse that request?

[2019-07-29 10:30] DatenThielt commented on #48
@gravity00 The server does refuse, or fails to read the response correctly

[code]
if I use the soap with the namespaces defined only above, I get the expected response, Unfortunately I do not have access or the ability to change the back end,

Any ideas on if I can even write a custom solution at this point?  Thanks again!

[2019-07-29 10:44] gravity00 commented on #48
Well, that is strange, since a WCF server should have handled that.

You can try to go more low level then just like you did with the headers. Not the perfect solution, but should suffice for now.

https://github.com/gravity00/SimpleSOAPClient/issues/46

I found that, when XML is small, for some reason the XmlSerializer does not use properly the global namespaces and if the server is extremely pic

[2019-07-29 10:52] DatenThielt commented on #48
Ignore me, I think I know what you mean!

[2019-07-29 13:21] DatenThielt commented on #48
I ended up giving up, even using the low level messages I could not generate an SoapBody that the server was happy with,  I ended up manually sending the soap with a HttpClient which has worked.

Thank you for all the help @gravity00 , I have 5 more calls to impliment which are larger, hopefully the serializer picks up the global namespace!

[2019-07-29 13:27] #48 closed, assigned to nobody

[2019-07-29 13:58] gravity00 commented on #48
Hi @DatenThielt please try this:

[code]

![image](https://user-images.githubusercontent.com/3291285/62054278-2bc48b80-b211-11e9-9079-5cfcdc6772e7.png)

[2019-07-29 14:38] DatenThielt commented on #48
Wow, I was not expecting that,  This actually works perfectly!  I cant understand why their service is so strict but thank you very much @gravity00   I wish I had a way to repay you!!

[2019-07-29 14:50] #35 closed, assigned to gravity00

[2019-07-29 15:55] gravity00 commented on #48
@DatenThielt nice I could help!

One of the reasons I decided to use `System.Xml.Linq` was how powerful it was, so any limitations may be easily surpassed.

I have some things planed for v3 that should make it simpler to configure the serialization.

[2019-07-29 15:56] DatenThielt commented on #48
Love it, cant wait to see V3!

[2019-10-22 15:22] Lerke commented on #13
Hello @gravity00
I'm trying to integrate a SOAP 1.2 service into my .NET Core 3.0 application. I found this issue which looks really promising, but I cannot find any of the V1Dot2 namespaces or functions. Were these removed from the project?

Thank you for your time. I'm using version 2.1.0 from Nuget.

[2020-01-03 19:00] CumpsD commented on #13
I'm looking for these too, have they been removed?

I see there's a branch https://github.com/gravity00/SimpleSOAPClient/tree/SoapV1.2 for it, but I guess it didnt make it into 2.1

[2021-04-29 00:27] t3hchipmunk commented on #25
I made this to generate code for my company to use in a Xamarin Forms project. It's far from perfect, tested, or completed, but it's all yours.

https://github.com/t3hchipmunk/SimpleSOAPClientWSDLImporter

[2021-04-29 09:32] gravity00 commented on #25
@t3hchipmunk big thanks, I'll give it a look!

[2021-12-17 08:38] MKruijer opened #49 "Thread safety"
Hello,

Is the SimpleSoapClient thread safe or do I need to implement that myself when using a soapClient?

Kind regards,
Martijn Kruijer

[2021-12-17 10:03] gravity00 commented on #49
Hi Martijn,

It is as thread safe as the underline `HttpClient`, which means, as long you aren't changing handlers or settings by multiple threads, it can be used as a singleton in your application.

[2021-12-17 10:22] #49 closed, assigned to nobody

[2022-02-24 15:19] ilCosmico opened #50 "Soap message response with bytes"
Hi there,

I'm trying to use this amazing library for a project that I'm converting from .NET Framework to .NET6.
I'm able to communicate with the original WebService, but the current client (I mean the one done in .NET Framework) returns a byte[] instead of an XmlNode[].

Could you help me to handle this, please?

[2022-02-24 16:44] gravity00 commented on #50
hi @ilCosmico,

When you say it returns a `byte[]` instead of a `XmlNode[]`, do you mean some property or the full content of the soap message is serialized as a `byte[]`? Can you give more detail?

[2022-02-25 08:00] ilCosmico commented on #50
Hi @gravity00,

Here you can see results (in bytes) that I get from the original code.
![image](https://user-images.githubusercontent.com/8678145/155678469-4c1034bb-d1bc-4188-a149-02f168a831ee.png)

And here you can see results (XML nodes) that I get with this library
![image](https://user-images.githubusercontent.com/8678145/155678489-910fe76b-18f3-47ad-82d0-e12b86c6f560.png)

I don't know if thi

[2022-02-25 10:22] gravity00 commented on #50
From what I'm understanding, the property `DispatchResult` should be defined as a `byte[]` because it seems that's what the service is returning, encoded as a base 64 string. Does this work?

[code]

If not, you could define it as a string and manually use `Convert.FromBase64String(response.DispatchResult)` to get the array.

[2022-02-25 11:18] ilCosmico commented on #50
Yep! Thanks for your great support!

![image](https://user-images.githubusercontent.com/8678145/155706415-5f3305ac-e053-4228-b38b-9690d044a034.png)

[2022-02-25 11:18] #50 closed, assigned to nobody

[2022-08-23 01:10] ben-at-sparq opened #51 "SOAP 1.2 support doesn't appear to be working"
There doesn't appear to be any way of specifying the SOAP version (though the client can automatically determine this AFAIK)

When receiving a 1.2 response this exception is thrown:

    InvalidOperationException: <Envelope xmlns='http://www.w3.org/2003/05/soap-envelope'> was not expected.

There is a closed [issue](https://github.com/gravity00/SimpleSOAPClient/issues/13) for this but the comments